<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Newpost</title>
</head>
<body>
    <h2>Here you can create a new post</h2>
        <form method="post" action="/user">
        <input type="text" name="id" placeholder="enter your id">
        <input type="text" name="username" placeholder="enter your username">
        <input type="email" name="email" placeholder="enter your email">
        <input type="password" name="password" placeholder="enter your password">

        <button>Create Post</button>
    </form>
</body>
</html>